data/otmxsd/SanctionedTerritoryScreeningService.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns:svc="http://xmlns.oracle.com/apps/otm/service/v1" xmlns="http://xmlns.oracle.com/apps/gtm/service/sanctioned_territory_screening/v1" xmlns:otmtypes="http://xmlns.oracle.com/apps/otm/types/v1" targetNamespace="http://xmlns.oracle.com/apps/gtm/service/sanctioned_territory_screening/v1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="Service.xsd" namespace="http://xmlns.oracle.com/apps/otm/service/v1" />
  <xsd:import schemaLocation="Common.xsd" namespace="http://xmlns.oracle.com/apps/otm/types/v1" />
  <xsd:element name="SanctionedTerritoryScreeningRequestMessage">
    <xsd:complexType>
      <xsd:complexContent mixed="false">
        <xsd:extension base="svc:ServiceMessageType">
          <xsd:sequence>
            <xsd:element name="ContactGid" type="otmtypes:Gid" />
            <xsd:element minOccurs="0" name="RuleGroupGid" type="otmtypes:Gid" />
            <xsd:element minOccurs="0" name="ScreenAgain" type="xsd:string" />
            <xsd:element minOccurs="0" name="FirstName" type="xsd:string" />
            <xsd:element minOccurs="0" name="LastName" type="xsd:string" />
            <xsd:element minOccurs="0" name="CompanyName" type="xsd:string" />
            <xsd:element minOccurs="0" ref="LocationScreeningInfo" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LocationScreeningInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LocationGid" type="otmtypes:Gid" />
        <xsd:element minOccurs="0" name="AddressLine1" type="xsd:string" />
        <xsd:element minOccurs="0" name="AddressLine2" type="xsd:string" />
        <xsd:element minOccurs="0" name="AddressLine3" type="xsd:string" />
        <xsd:element minOccurs="0" name="City" type="xsd:string" />
        <xsd:element minOccurs="0" name="Province" type="xsd:string" />
        <xsd:element minOccurs="0" name="Country" type="xsd:string" />
        <xsd:element minOccurs="0" name="PostalCode" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SanctionedTerritoryScreeningReplyMessage">
    <xsd:complexType>
      <xsd:complexContent mixed="false">
        <xsd:extension base="svc:ServiceReplyMessageType">
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SanctionedTerritoryScreeningResponse" type="SanctionedTerritoryScreeningResponseType" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SanctionedTerritoryScreeningResponseType">
    <xsd:sequence>
      <xsd:element name="SanctionedTerritoryScreeningRuleControl" type="ContactSTRuleControl" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactSTRuleControl">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ControlTypeGid" type="xsd:string" />
      <xsd:element minOccurs="0" name="ControlCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="RegulationReferenceGid" type="xsd:string" />
      <xsd:element minOccurs="0" name="RuleGroupGid" type="xsd:string" />
      <xsd:element minOccurs="0" name="RuleGid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>